.characters-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.characters-selection h1 {
  background-color: lightgray;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.characters-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 350px;
  justify-content: space-between;
  gap: 10px;
}

.individual-character {
  width: 100px;
  height: 100px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.individual-character:hover {
  background-color: rgb(118, 115, 115);
}

.individual-character.selected {
  background-color: rgb(191, 109, 109);
  text-decoration: line-through;
  font-style: italic;
}
