.characters-container {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: space-between;
}

.individual-character {
  width: 90px;
  height: 90px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}
