.navbar-game {
    position: absolute; /* Make the navbar fixed */
    z-index: 10;
    top: 0; /* Position at the top */
    left: 15%; /* Position on the left */
    display: flex;
    flex-direction: row;
    padding: 15px;
    background-color: #1315a2;
    color: #fff;
    border-radius: 0 0 10px 10px;
}

.navbar-game .burger {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    user-select: none;
    z-index: 10;
}

.navbar-game .menu {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #1315a2;
    height: 32px;
    width: 60vw;
    margin-left: 20px;
}

.navbar-game .menu p {
    cursor: pointer;
}

.navbar-game .menu p:last-child {
    margin-left: auto;
    cursor: text;
    text-decoration: underline;
}