.turno {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;

  width: 100vw;
  height: 100vh;

  background-color: rgb(0, 0, 0, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#turno-dados {
  display: flex;
  transition: all 0.5s;
}

#turno-cartas {
  padding: 15px;
  background-color: rgb(201, 194, 194);
  border-radius: 15px;
}

.tu-turno-texto {
  font-size: 200px;
  color: white;
}
