.message-list {
    list-style-type: none;
    height: 100%;
    padding: 10px 10px 5px 10px;
    margin: 0;
    margin-left: 10px;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.message-list .message {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #cbcbcb;
    border-radius: 10px;
}

