.main-player-in-tablero {
  display: flex;
  flex-direction: row;
}

.player {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 5px;
  padding: 0 10px;

  &.right {
    flex-direction: row-reverse;
  }

  &.turn {
    background-color: #636161;
    border-radius: 10px;
  }
}

.player h1 {
  /* text-shadow: none; */
  align-items: center;
}

.player h2 {
  /* text-shadow: none; */
}

.player img {
  width: 125px;
}
