.main-player-in-tablero {
  display: flex;
  flex-direction: row;
}

.player {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: end;
  width: 100%;
  height: auto;
  padding: 0 10px;

  &.right {
    align-items: start;
  }

  &.turn {
    background-color: #636161;
    border-radius: 10px;
  }
}

.player h1 {
  /* text-shadow: none; */
  margin: 0;
}

.player h2 {
  /* text-shadow: none; */
}

.player img {
  width: 125px;
}
